-- Migration: Update shares table for Phase 1 sharing limits, password wrapping, and token hashing

ALTER TABLE shares RENAME COLUMN share_token TO share_token_hash;
ALTER TABLE shares DROP COLUMN IF EXISTS share_password;

ALTER TABLE shares ADD COLUMN IF NOT EXISTS max_views INTEGER;
ALTER TABLE shares ADD COLUMN IF NOT EXISTS view_count INTEGER NOT NULL DEFAULT 0;

ALTER TABLE shares ADD COLUMN IF NOT EXISTS wrapped_content_key VARCHAR(255);
ALTER TABLE shares ADD COLUMN IF NOT EXISTS kdf_salt VARCHAR(255);
ALTER TABLE shares ADD COLUMN IF NOT EXISTS kdf_iterations INTEGER;

ALTER TABLE shares ADD COLUMN IF NOT EXISTS failed_attempts INTEGER NOT NULL DEFAULT 0;
ALTER TABLE shares ADD COLUMN IF NOT EXISTS locked_until TIMESTAMP WITH TIME ZONE;
